body {
  margin: 0;
  padding: 0;
  background-color: #4489ca;
	font-family: "Titillium Web";
	font-weight: 400;
	font-size: 16px;
	color: #2B2B2B;
        line-height: 1.5em;
}
a {
    text-decoration: none;
    color: #4489ca;
    font-weight: 600;
}
a:hover {
    text-decoration: none;
    color: white;
    background-color: #4489ca;
}
#poster {
  display: block;
  background-color: black;
  margin: 0;
  padding: 0;
}
#poster div { 
  display: block;
  background: url('kinderfingers.jpg') center no-repeat;
  height: 320px;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  margin: 0 auto;
  padding: 0 1em 0.2em;
  font-size: 400%;
  /* font-family: serif; */
  font-weight: 400;
  color: white;
  line-height: 0.7em;
}
h1 .eu {
  color: rgba(255, 255, 255, 0);
  display: inline-block;
  width: 114px;
  height: 90px;
  vertical-align: bottom;
  background: url('codeweekeu.png') no-repeat center;
}
h1 .d { 
  font-size: 80%;
}
h1 .dd {
  display: block;
  font-size: 80%;
}

footer p { 
  text-align: center;
  margin: 0;
  padding: 0.5em 1em;
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
#main {
  background-color: white;
  color: #333;
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 1.6em;
}


/* article separator dots wurden entfernt */


#viescher {
  text-align: center;
}


#main article {
  display: block;
  margin: 0 auto;
  padding: 0 2em;
  padding-top: 2em;
  max-width: 50em;
}
#main article h2, #main article h3 {
  color: #777;
  font-size: 180%;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 0 0 1em;
}
#main article h2 {
  color: black;
  padding-top: 1em;
}
#main article h4 {
    color: #777;
}
#main article aside.left {
  float: left;
  padding: 0 1em 1em 0;
}
#main article aside.right {
  float: right;
  padding: 0 0 1em 1em;
}
#main article aside label {
  display: block;
  text-align: center;
  font-size: 75%;
}
#main article ol {
  width: 30em;
  margin: 0 auto;
}
#main article ul {
  list-style-type: square;
  padding-left: 1.2em;
}
#main article li { 
  padding: 0.2em 0;
}
.date { 
  text-align: center;
  font-size: 130%;
  font-weight: 600;
}
.time { 
  text-align: center;
}
